<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Addition</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <h3>Gumballs: {{ getGumballs() }}</h3>

  <p>
    <button ion-button color="primary" (click)="turnWheel(1)">Add Gumball</button>
    <button ion-button color="primary" (click)="turnWheel(-1)">Remove Gumball</button>
  </p>

</ion-content>
