<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Subtraction</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <button ion-button color="light" (click)="presentActionSheet()">Show Action Sheet</button>
  <button ion-button color="default" block (click)="showAlert()">Show Basic Alert</button>
  <button ion-button color="secondary" full (click)="showPrompt()">Show Prompt Alert</button>
  <button ion-button color="danger" round (click)="showConfirm()">Show Confirm Alert</button>
  <button ion-button color="dark" (click)="showRadio()">Show Radio Alert</button>
  <button ion-button color="dark" round (click)="showCheckbox()">Show Checkbox Alert</button>
</ion-content>
